header{
    color: white;
    text-align: center;

}

body{
    background: rgb(2, 29, 66);
    font: normal 15pt arial;
}
#back{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 15pt;
    border-radius: 20px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.568);
     
}

table {
    border-style: groove;
    margin: auto;
}

#minhaTabela {
    font-size: 20px;
    padding: auto;
    font-style: italic;
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 15px;
}
